:root {
  --primaryColorDark: #0c2b42;
  --primaryColor: #cee4f6;
  --primaryColorLigth:#f2f3f9; 

  --secondaryColorDark: #0c2b42;
  --secondaryColor: #97132c;
  --secondaryColorLigth: red;

  --boxShadowNav: none;
  --bgFieldInput: white;
  --bgFieldInputFocus: white;

  --bgBody: #e0e0e0;
  --txtBody: var(--primaryColorDark);
}

.o-main{
  display: grid;
  grid-template: max-content 1fr / 1fr;
}

.o-header{
  background-image: url('./assets/images/bgHeader.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 30%;
}

body{
  background-color: var(--bgBody);
  color: var(--txtBody);
}